<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyShop.ReadModel.Properties.Settings.MyShopReadModelConnectionString"
            connectionString="Server=localhost;Database=Just4Heating;Intergrate Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>