<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyShop.EventStorage.Properties.Settings.MyShopEventsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyShopEvents;User ID=MyShopEventStorer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>