<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyShop.UI.Web.MainSite.Model.Properties.Settings.MyShopReadModelConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyShopReadModel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>