<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="TraceSource" type="System.Diagnostics.TraceSource, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />

      <typeAlias alias="IOrderTimeRangeQueryPresenter" type="MVPDemo.IPresenter.IOrderTimeRangeQueryPresenter, IPresenter" />
      <typeAlias alias="IMainPresenter" type="MVPDemo.IPresenter.IMainPresenter, IPresenter" />
      <typeAlias alias="OrderTimeRangeQueryPresenter" type="MVPDemo.Presenter.OrderTimeRangeQueryPresenter, Presenter" />
      <typeAlias alias="MainPresenter" type="MVPDemo.Presenter.MainPresenter, Presenter" />
      <typeAlias alias="IMainView" type="MVPDemo.IView.IMainView, IView" />
      <typeAlias alias="IOrderTimeRangeQueryView" type="MVPDemo.IView.IOrderTimeRangeQueryView, IView" />
      <typeAlias alias="MainView" type="MVPDemo.View.MainView, View" />
      <typeAlias alias="OrderTimeRangeQueryView" type="MVPDemo.View.OrderTimeRangeQueryView, View" />
    </typeAliases>

    <containers>
      <container>
        <types>
          <type type="IOrderTimeRangeQueryView" mapTo="OrderTimeRangeQueryView" />
          <type type="IOrderTimeRangeQueryPresenter" mapTo="OrderTimeRangeQueryPresenter">
            <typeConfig>
              <constructor>
                <param name="iOrderTimeRangeQueryview" parameterType="IOrderTimeRangeQueryView">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="IMainView" mapTo="MainView" />
          <type type="IMainPresenter" mapTo="MainPresenter">
            <lifetime type="singleton" />
            <typeConfig>
              <constructor>
                <param name="imainview" parameterType="IMainView">
                  <dependency />
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>